body {
  background: #26a34f;
}
.container {
  max-width: 400px;
}

::placeholder {
  color: #fff !important;
  opacity: 0.5 !important;
}

input[type="text"],
input[type="text"]:focus {
  color: #fff;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  max-width: 400px;
}
.todos li {
  background: #f0534f;
  opacity: 0.9;
}
.delete {
  cursor: pointer;
}
.filtered {
  display: none !important;
}
